<h2>Create a new practice</h2>

<form>
    <div class="form-group" ng-repeat="item in pracItems" ng-init="itemIdx=$index">
    	<label for="name-{{$index}}">Enter an exercise name</label><br>
        <input class="form-control" ng-model="item.name" id="name-{{$index}}">
        <label for="desc-{{$index}}">Enter an exercise description</label><br>
        <input class="form-control" ng-model="item.desc" id="desc-{{$index}}">
        <div class="user-inputs" ng-repeat="response in item.data">
       		<div class="user-inputs-title">
	        	<label for="{{item.name}}-response-{{$index}}-title">Requested Input</label>
	        	<input class="form-control" ng-model="response.title" id="{{item.name}}-response-{{$index}}-title">
	        </div>
	        <div class="user-inputs-type">
	        	<label for="{{item.name}}-response-{{$index}}-type">Type</label>
	        	<select class="form-control" ng-model="response.type" id="{{item.name}}-response-{{$index}}-type">
	        		<option value="int">Number</option>
	        		<option value="string">Text</option>
	        	</select>
	        </div>
	        <button class="btn btn-primary" ng-click="removeInputData(item, $index)">Remove Input</button>
        </div>
         <button class="btn btn-primary" ng-click="addInputData($index)">Add Input</button>
         <button class="btn btn-primary" ng-click="removeItem($index)">Delete Exercise</button>
        <!-- <small class="form-text text-muted">{{question.description}}</small>
        <input class="form-control" id="question-{{$index}}" ng-model="responses[$index]"/> -->
    </div>
    <button class="btn btn-primary" ng-click="addItem()">Add Exercise</button>
    <button class="btn btn-primary" type="submit" ng-click="relayInfo()">Submit</button>
</form>