<div class="card player-card ">
    <div class="card-body">
        <h5 class="card-title">Your Statistics</h5>
        <table class="table">
            <thead class="black white-text">
            <tr>
                <th ng-repeat="(key,value) in keys" scope="col">{{value}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, stats) in statistics">
                <!-- <th scope="col">{{stats._id}}</th> -->
                <td>{{stats._id}}</td>
                <td>{{ stats.latest }}</td>
                <td>{{ stats.average | number }}</td>
                <td>{{ stats.max }}</td>
                <td>{{ stats.min }}</td>
                <!-- <td>{{ country.population | number }}</td> -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

